.syncContainer {
  min-height: 108px;
}

.buttonWrapper {
  width: 100%;

  display: flex;
  align-items: center;
  opacity: 1;
}

.buttonWrapper > button {
  font-size: 1.8rem;
}

.buttonWrapper > button:first-child {
  margin-right: 24px;
}
