.syncContainer {
  min-height: 108px;
}

.buttonSyncWrapper {
  width: 100%;

  display: flex;
  align-items: center;
  opacity: 1;
}

.buttonSyncWrapper > button {
  font-size: 1.8rem;
}

.buttonSyncWrapper > button:first-child {
  margin-right: 24px;
}

.buttonSync > svg {
  width: 24px;
  height: 24px;
  fill: #757575;
}

.buttonSync > span {
  display: inline-block;
  font-size: 1.8rem;
}

@media (hover: hover) {
  .buttonSync:hover > svg {
    fill: #000;
  }

  .buttonSync > span {
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buttonSync:hover > span {
    border-color: #000;
  }
}
