.diariesContainer {
  padding: 0 15px 150px 15px;
  margin: 0 auto;

  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.diaryContainer {
  position: relative;
  height: fit-content;

  transition: min-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.diaryContainer:first-child {
  margin-top: 15px;
}

.diaryContainer:not(:first-child) {
  margin-top: 60px;
}

.diaryContainer:before {
  content: "";
  display: block;

  margin-bottom: 60px;
  height: 1px;
  background-color: #e0e0e0;
}

.diaryContainer:first-child:before {
  background-color: transparent;
}

.diaryRead {
  width: 100%;

  visibility: visible;
  opacity: 1;

  transition:
    visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.diaryHidden {
  visibility: hidden;
  opacity: 0;
}

.diaryTitle {
  padding-bottom: 10px;

  font-size: 2.2rem;
  font-weight: 700;
}

.diaryTitle:hover > div:first-child {
  height: 27px;
  margin-bottom: 8px;

  visibility: visible;
  opacity: 1;
}

.diaryButtonContainer {
  display: block;
  width: fit-content;
  height: 0px;

  display: flex;
  padding: 3px 7px 4px 7px;
  margin-top: 3px;
  margin-bottom: 0;

  visibility: hidden;
  opacity: 0;

  background-color: #f8f6f9;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.25) 0px 2px 8px 0px;
  overflow: hidden;

  transition:
    visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    margin-bottom 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.diaryButtonContainer > button > svg {
  width: 20px;
  height: 20px;
}

.diaryButtonContainer > button:first-child {
  margin-right: 4px;
}

.diaryCotentContainer {
  font-family: "Malgun Gothic";
  font-size: 18px;
  line-height: 1.73;
}

.diaryCotentContainer *:not(:last-child) {
  margin-bottom: 10px;
}

.diaryCotentContainer code {
  padding: 1px 9px 2px 9px;

  font-family: "Malgun Gothic";
  background-color: #ddd;

  border-radius: 8px;
}
