.slateEditor {
  min-height: 200px !important;
  max-height: calc(100vh - 350px) !important;
  padding: 3px 0;

  outline: none;

  font-family: "Malgun Gothic";
  font-size: 18px;
  line-height: 1.73;

  overflow-y: auto;
}

.slateEditor *::selection {
  background-color: transparent;
}

.slateEditor code {
  padding: 1px 9px 2px 9px;

  font-family: "Malgun Gothic";
  background-color: #ddd;

  border-radius: 8px;
}

.slateEditor > div {
  margin-bottom: 10px;
}

.editEditor code {
  background-color: #555;
}
