.button {
  display: flex;
  align-items: center;

  cursor: pointer;
  transition: color 0.2s ease;
}

.aaa {
  color: #bbb;
}

.aaa:hover {
  color: #fff;
}

.bbb {
  color: #555;
}

.bbb:hover {
  color: #000;
}

.icon {
  font-size: 18px;
  vertical-align: text-bottom;
}

.menu {
  display: flex;
  align-items: center;
  margin-top: -5px;
  padding: 1px 4px 2px 4px;

  position: absolute;
  top: -10000px;
  left: -10000px;

  opacity: 0;
  background-color: rgba(128, 128, 128, 0.35);
  border-radius: 12px;

  backdrop-filter: blur(5px);

  z-index: 10;

  transition: opacity 0.2s;
}

.menu > span > svg {
  width: 28px;
  height: 28px;
}

.portal {
  z-index: 10;
}
