.writeContainer {
  height: fit-content;

  overflow: hidden;
}

.writeContainer input {
  background-color: transparent;
  border: none;
  outline: none;
}

.title {
  position: relative;
  width: 100%;

  color: #202020;
  font-size: 2.7rem;
  font-weight: 900;

  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  white-space: nowrap;
}

.bottom {
  min-height: 28px;
  position: relative;
}

.buttonContainer {
  height: 31px;
  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;

  border: none;
}

.buttonContainer > button:first-child > svg {
  width: 2.4rem;
  height: 2.4rem;
}

.buttonContainer > button:first-child {
  margin-right: 30px;
}

.buttonContainer > button:nth-last-child(2) {
  margin-right: 8px;
}

.buttonContainer > button:nth-last-child(2) > svg {
  width: 3.1rem;
  height: 3.1rem;
}

.buttonContainer > button:last-child > svg {
  width: 2.7rem;
  height: 2.7rem;
}

.editContainer {
  width: calc(100% + 30px);

  margin-left: -15px;

  background-color: #333 !important;
}

.editContainer::before {
  opacity: 0.05;
}

.editContainer form > * {
  color: #fff;
}

.editContainer .buttonContainer > button > svg {
  fill: #aaa;
}

.editContainer .buttonContainer > button:hover > svg {
  fill: #fff;
}
