.diariesContainer {
  position: relative;

  max-width: 1000px;
  width: calc(100vw - 30px);
  height: fit-content;

  margin: 50px auto;
  padding: 15px;

  overflow: hidden;
}

.diariesTitle {
  padding-bottom: 10px;

  font-size: 1.2rem;
  font-weight: 700;
}

.diariesTitle:hover > div:first-child {
  height: 27px;
  margin-bottom: 8px;

  visibility: visible;
  opacity: 1;
}

.diariesButtonContainer {
  display: block;
  width: fit-content;
  height: 0px;

  display: flex;
  padding: 3px 7px 4px 7px;
  margin-top: 3px;
  margin-bottom: 0;

  visibility: hidden;
  opacity: 0;

  background-color: #f8f6f9;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.25) 0px 2px 8px 0px;
  overflow: hidden;

  transition:
    visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    margin-bottom 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.diariesButtonContainer > button > svg {
  width: 20px;
  height: 20px;
}

.diariesButtonContainer > button:first-child {
  margin-right: 4px;
}

.diaryCotentContainer {
  font-family: "Malgun Gothic";
  font-size: 18px;
  line-height: 1.56;
}

.diaryCotentContainer code {
  padding: 2px 9px 2px 9px;

  font-family: "Malgun Gothic";
  background-color: #cbcbd6;

  border-radius: 8px;
}
