.button {
  display: flex;
  align-items: center;

  cursor: pointer;
  transition: color 0.2s ease;
}

.white {
  color: white;
}

.black {
  color: black;
}

.aaa {
  color: #666;
}

.ccc {
  color: #ccc;
}

.icon {
  font-size: 18px;
  vertical-align: text-bottom;
}

.menu {
  display: flex;
  align-items: center;
  margin-top: -8px;
  padding: 2px 8px 5px 8px;

  position: absolute;
  top: -10000px;
  left: -10000px;

  opacity: 0;
  background-color: #22222222;
  /* 배경을 중심으로 부터 밖으로 blur */
  backdrop-filter: blur(6px);

  border-radius: 12px;
  z-index: 10;

  transition: opacity 0.2s;
}

.portal {
  z-index: 10;
}
