.slateContainer {
  min-height: 300px;
  width: 400px;
}

.slateEditor {
  min-height: 200px !important;
  padding: 3px 0;

  outline: none;

  font-family: "Malgun Gothic";
  font-size: 18px;
  line-height: 1.56;
}

.slateEditor *::selection {
  background-color: transparent;
}

.slateEditor code {
  padding: 2px 9px 2px 9px;

  font-family: "Malgun Gothic";
  background-color: #cbcbd6;

  border-radius: 8px;
}

.slateEditor > div {
  margin-bottom: 4px;
}
