.newWriteContainer {
  position: relative;

  max-width: 1000px;
  width: calc(100vw - 30px);
  height: fit-content;

  margin: 0 auto;
  margin-bottom: 75px;

  padding: 15px;

  border-radius: 0.8rem;
  background-color: #fefcff;

  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 8px 16px,
    rgba(17, 17, 26, 0.08) 0px 16px 40px;

  overflow: hidden;
}

.newWriteContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 0;
  background: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
  opacity: 0.2;
}

.form {
  position: relative;
  z-index: 1;
}

.form input {
  background-color: transparent;
  border: none;
  outline: none;
}

.title {
  position: relative;
  width: 100%;

  color: #202020;
  font-size: 1.8rem;
  font-weight: 900;

  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  white-space: nowrap;
}

.bottom {
  min-height: 28px;
  position: relative;
}

.buttonContainer {
  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;

  border: none;
}

.save > svg {
  width: 27px;
  height: 27px;
}

.editContainer {
  margin-left: -15px;

  background-color: #333;
}

.editContainer::before {
  opacity: 0.05;
}

.editContainer .form > * {
  color: #fff;
}

.editContainer .buttonContainer > button > svg {
  fill: #aaa;
}

.editContainer .buttonContainer > button:hover > svg {
  fill: #fff;
}
