.newWriteContainer {
  position: relative;

  max-width: 1000px;
  width: calc(100vw - 30px);
  height: fit-content;

  margin: 0 auto;
  padding: 15px;

  border-radius: 0.8rem;
  background-color: #fefcff;

  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 8px 16px,
    rgba(17, 17, 26, 0.08) 0px 16px 40px;

  overflow: hidden;
}

.newWriteContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 0;
  background: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
  opacity: 0.2;
}

.form {
  position: relative;
  z-index: 1;
}

.title {
  position: relative;
  width: 100%;

  color: #202020;
  font-size: 2rem;
  font-weight: bold;

  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.divLine {
  position: relative;
  width: 100%;
  height: 1px;

  background-color: #e0e0e0;

  margin: 9px 0;
}

.todoList {
  font-family: "malgun gothic";
  font-size: 18px;
  list-style: none;
  line-height: 1.8;
}

.todoItem {
  display: flex;
  align-items: center;

  width: fit-content;
}

.todoItem:hover > .todoDelete {
  visibility: visible;
  opacity: 1;
}

.todoItem > svg {
  margin-top: 1px;
  margin-right: 5px;
  width: 16px;
  height: 16px;

  fill: #757575;
}

.todoDelete {
  display: flex;
  align-items: center;

  margin-left: 3px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  visibility: hidden;
  opacity: 0;

  transition:
    visibility 0.2s,
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.todoDelete > svg {
  width: 17px;
  height: 17px;

  fill: #757575;
}

.todoDelete:hover > svg {
  fill: #000;
}
